/* sobre.css */

.page-header {
    background-color: var(--green); /* Fundo do cabeçalho de página agora é verde */
    color: var(--white);
    padding: 60px 0;
    text-align: center;
}

.page-header h1 {
    color: var(--white);
    font-size: 3rem;
}

.page-header p {
    color: #ccc;
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto;
}

/* O .content-section está em base.css por ser genérico */
/* Os estilos .impact-numbers estão em base.css por serem reutilizados */